---
import DefaultLayout from '@layouts/Default.astro';
import SVG from '../components/SVG.astro';

const title = 'About Me';
const clients = [
	{ slug: 'microsoft', name: 'Microsoft'},
	{ slug: 'sanus', name: 'Sanus'},
	{ slug: 'tivo', name: 'TiVo'},
	{ slug: 'the-undefeated', name: 'The Undefeated'},
	{ slug: 'fivethirtyeight', name: 'FiveThirtyEight'},
	{ slug: 'university-st-thomas', name: 'University St. Thomas'},
	{ slug: 'music-instrument-museum', name: 'Music Instrument Museum'},
	{ slug: 'california-grants-portal', name: 'California Grants Portal'},
	{ slug: 'sheehy', name: 'Sheehy Construction'},
	{ slug: 'encompass-health', name: 'Encompass Health'},
];
const tools = [
	{ slug: 'git', name: 'Git'},
	{ slug: 'github', name: 'Github'},
	{ slug: 'js', name: 'JavaScript'},
	{ slug: 'npm', name: 'Node Package Manager (NPM)'},
	{ slug: 'postcss', name: 'PostCSS'},
	{ slug: 'tailwindcss', name: 'Tailwind CSS'},
	{ slug: 'wordpress', name: 'WordPress'},
];
---

<DefaultLayout content={{ title }}>
	<header class="section section--emphasis">
		<div class="content">
			<h1>
				{title}

				<span class="subtitle">The story behind the nerd</span>
			</h1>
			<p>The quick version: I’m a graduate of Iowa State University with a Bachelor’s of Fine Arts in Graphic Design. I’ve been coding websites since I was in high school. I want to make high quality websites that accomplish the goals of the client in the best way possible while making great experiences for their users. Want to know more? Keep reading for the full story. You can also <a href="https://github.com/Firestorm980/">visit me on Github</a> and <a href="https://twitter.com/jonmchristensen">follow on Twitter</a>.</p>
		</div>
	</header>
	<section class="section">
		<div class="content">
			<h2>What I do</h2>
			<p>Primarily, I’m a designer and front end web developer, but I’ve also done quite a bit of full stack development. My focus is making great websites from conception through launch (and sometimes after) with the tools of the trade for my clients across a variety of platforms and devices. I make them with performance in mind for the end user. For content management, I always aim for ease of use. The architecture of a site is on my mind from the jump, with the goal of making things clean and extensible. While some men may use a <a href="https://en.wikipedia.org/wiki/Sonic_screwdriver">sonic screwdriver</a>, here are some of the tools I use to turn clients’ website dreams into reality.</p>
			<ul class="logos">
				{tools.map((tool, index) => {
					return (
						<li style={`--index: ${index}; --total: ${tools.length}`}>
							<SVG path={`images/tool-logos/${tool.slug}.svg`} name={tool.name} />
						</li>
					)
				})}
			</ul>
		</div>
	</section>
	<section class="section">
		<div class="content">
			<h2>Who am I</h2>
			<p>I’m a graduate of ISU’s College of Design with a BFA in Graphic Design. There I learned the principles of design and how to think critically to solve client issues. I learned how to code websites when I was in high school and was instantly hooked. Thus, my two passions of design and development. Bringing the two together was like Chell to the <a href="https://en.wikipedia.org/wiki/Portal_(video_game)#Gameplay">Handheld Portal Device</a>. One does the solving, the other does the execution.</p>
			<p>If you couldn’t tell by now, I’m also a bit of a nerd. I’m also a husband and a father (to a wife and son who are both as nerdy) living in beautiful Minnesota. I also have a dog who just happens to have the same title as a <a href="https://en.wikipedia.org/wiki/Daenerys_Targaryen">Dothraki queen</a> who is just as cunning. On the side I’m an avid PC gamer, dedicated hockey fan, and an occasionally successful bard in my tabletop campaigns.</p>
			<p><a href="https://en.wikipedia.org/wiki/List_of_Tron_characters#Tron_2">I fight for the users</a>. I believe in making great sites for <em>people</em>. For the clients of clients. I believe in asking for the “why” behind a design or development decision. Design is firstly an exercise in problem solving. Making things look and work great is part of that, but it’s more than just a pretty layout. I want to make sure I solve my client’s problems and not just cover them up with a coat of paint. Hopefully at the same time, we’re solving real world problems that will go on to help real people. The end result is a win for the users and by extension, the client.</p>
		</div>
	</section>
	<section class="section">
		<div class="content">
			<h2>Who I’ve worked with</h2>
			<p>I’ve worked with a lot of different clients. Here is just a short list of a few.</p>
			<ul class="logos">
				{clients.map((client, index) => {
					return (
						<li style={`--index: ${index}; --total: ${clients.length}`}>
							<SVG path={`images/client-logos/${client.slug}.svg`} name={client.name} />
						</li>
					)
				})}
			</ul>
		</div>
	</section>
</DefaultLayout>
