---
import { getCollection } from "astro:content";
import Archive from '../../layouts/Archive.astro';
import Pagination from "../../components/Pagination.astro";
import EntryList from "../../components/EntryList.astro";
import type { PaginationPage, PaginationEntry } from "../../types";
import { filterDrafts, sortEntriesByDate } from "../../utils";

export async function getStaticPaths({ paginate }) {
    let entries = await getCollection('my-thoughts') as PaginationEntry[];

    entries = sortEntriesByDate(entries);
    entries = filterDrafts(entries);

    return paginate(entries);
}

const { page } : { page: PaginationPage } = Astro.props;
const title = 'My thoughts';
const description = "A collection of my thoughts on various subjects.";
---

<Archive title={`${title} | Page ${page.currentPage}`} description={description}>
    <h1>{title}</h1>
    <EntryList data={page.data} />
    <Pagination page={page} ariaLabel={`Pagination for: ${title}`} />
</Archive>