---
import siteData from './../data/site.json';

const { content } = Astro.props;
const { title, description, permalink, image } = content;

const headTitle = `${title} | ${siteData.title}`;
---

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title>{headTitle}</title>
<meta name="title" content={headTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={headTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={headTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />

<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link
	rel="stylesheet"
	href={Astro.resolve('./../assets/css/index.css')} />
