---
import { pwaInfo } from 'virtual:pwa-info';
import siteData from '@data/site.json';
import '@assets/css/index.css';

const base = import.meta.env.BASE_URL
const { content } = Astro.props;
const {
	title,
	description = siteData.description,
	permalink = new URL(Astro.url.pathname, Astro.site),
	image = new URL(`${base}assets/images/favicons/android-chrome-512x512.png`, Astro.site),
} = content;

const headTitle = `${title} | ${siteData.title}`;
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title>{headTitle}</title>
<meta name="title" content={headTitle} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content={siteData.title} />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={headTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content={siteData.author.twitter} />
<meta property="twitter:creator" content={siteData.author.twitter} />

<!-- Icons / Theme -->
<link rel="apple-touch-icon" sizes="180x180" href={`${base}assets/images/favicons/apple-touch-icon.png`}>
<link rel="icon" type="image/png" sizes="32x32" href={`${base}assets/images/favicons/favicon-32x32.png`}>
<link rel="icon" type="image/png" sizes="16x16" href={`${base}assets/images/favicons/favicon-16x16.png`}>
<link rel="mask-icon" href={`${base}assets/images/favicons/safari-pinned-tab.svg`} color="#f39c12">
<meta name="theme-color" content="#f39c12">

<!-- Service Worker / PWA -->
{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
<script src="/src/assets/js/sw.js"></script>
