---
import '@/assets/css/index.css';

const base = import.meta.env.BASE_URL

const {
    title,
    description: propDescription,
	image = new URL(`${base}assets/images/favicons/android-chrome-512x512.png`, Astro.site),
} = Astro.props;

const description = (propDescription) ? propDescription : "Graphic designer, web developer, all around nerd.";
const completeTitle = `${title} | JMCDSN`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Primary Meta Tags -->
<title>{completeTitle}</title>
<meta name="title" content={completeTitle} />
{description && (<meta name="description" content={description} />)}
<meta name="generator" content={Astro.generator} />
<link rel="sitemap" href={`${base}sitemap-index.xml`} />

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="JMCDSN" />
<meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
<meta property="og:title" content={completeTitle} />
{description && (<meta property="og:description" content={description} />)}
{image && (<meta property="og:image" content={image} />)}

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@jonmchristensen" />
<meta property="twitter:creator" content="@jonmchristensen" />

<!-- Icons / Theme -->
<link rel="apple-touch-icon" sizes="180x180" href={`${base}assets/images/favicons/apple-touch-icon.png`}>
<link rel="icon" type="image/png" sizes="32x32" href={`${base}assets/images/favicons/favicon-32x32.png`}>
<link rel="icon" type="image/png" sizes="16x16" href={`${base}assets/images/favicons/favicon-16x16.png`}>
<link rel="manifest" href={`${base}assets/images/favicons/manifest.json`}>
<link rel="mask-icon" href={`${base}assets/images/favicons/safari-pinned-tab.svg`} color="#f39c12">
<meta name="theme-color" content="#f39c12">