---
const {path, name} = Astro.props;
---
<script type="module" define:vars={{path}}>
	const svg = await fetch(`/assets/${path}`).then(res => res.text());
	const div = document.querySelector(`[data-path="${path}"]`);
	div.innerHTML = svg;
</script>
<div>
	<span class="sr-only">{name}</span>
	<div class="svg" aria-hidden="true" data-path={path} />
</div>
