---
import { getCollection } from "astro:content";
import Archive from '../../layouts/Archive.astro';
import Pagination from "../../components/Pagination.astro";
import EntryList from "../../components/EntryList.astro";
import { sortEntriesByTitle, filterDrafts } from "../../utils";
import type { PaginationPage, PaginationEntry } from "../../types";

export async function getStaticPaths({ paginate }) {
    let entries = await getCollection('snippets') as PaginationEntry[];

    entries = sortEntriesByTitle(entries);
    entries = filterDrafts(entries);

    return paginate(entries);
}

const { page } : { page: PaginationPage } = Astro.props;
const title = 'Snippets';
const description = "A collection of snippets I have for web development.";
---

<Archive title={`${title} | Page ${page.currentPage}`} description={description}>
    <h1>{title}</h1>
    <EntryList data={page.data} />
    <Pagination page={page} ariaLabel={`Pagination for: ${title}`} />
</Archive>