---
import DefaultLayout from '@layouts/Default.astro';
import Markdown from '@astrojs/markdown-component';
import Section from '@components/Section.astro';
import { getCollection } from 'astro:content';
import Time from '@components/Time.astro';

const { kind } = Astro.props;
const snippets = await getCollection('snippets')
const title = 'Snippets';
---
<DefaultLayout content={{title, bodyClass: kind}}>
	<Section tag='header' emphasis>
		<h1>
			{title}

			<span class="subtitle">A repository of little code goodies</span>
		</h1>
	</Section>
	<Section>
		<table class="snippets">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Categories</th>
					<th>Last Updated</th>
				</tr>
			</thead>
			<tbody>
				{snippets.map(snippet => {
					const { data, slug } = snippet;
					const { title, description, last_updated, categories } = data;
					return (
						<tr>
							<td>
								<a href={slug}>{title}</a>
							</td>
							<td>
								<Markdown>{description}</Markdown>
							</td>
							<td>
								{categories.join(', ')}
							</td>
							<td>
								<Time date={last_updated} format="D/M/YYYY" />
							</td>
						</tr>
					)
				})}
			</tbody>
		</table>
	</Section>
</DefaultLayout>
